/*
Plugin Name: Simple Social Menu
Plugin Description: A simple plugin that allows WordPress users to place a responsive widget that contains icons to their social media profiles
Plugin version: 1.0

*/

.social-media-menu-bin{
    padding: 20px 0;
}

.ssm-text-left{
    text-align: left;
}

.ssm-text-center{
    text-align: center;
}

.ssm-text-right{
    text-align: right;
}

/********************
 * Social menu styles
 * *****************/
.social-links {
    margin: auto;
    width:100%;
    max-width:800px;
}

ul.image-list li{
    display:inline;
    padding:0 10px;
    margin: 0 10px;
}

ul.image-list img{
    width: 30px;
    border-radius: 5px;
}

@media (min-width: 768px){
    ul.image-list img{
        width: 50px;
    }
}
